- title("Servicios")

.container
  .row
    .col-lg-12
      .page-header
        h1 Nuestros Servicios
  
  .row
    = render 'servicio', 
    icon: 'rocket', 
    class_icon: '',
    heading: 'Consultoría Startup',
    da_list: ['Trámites constitución', 
      'Cuando patentar y cuando no',
      'Pactos sociales', 
      'Plan de negocio', 
      'Hoja de ruta', 
      'Programación web']

    = render 'servicio', 
    icon: 'bullhorn', 
    class_icon: '',
    heading: 'Consultoría de Marketing',
    da_list: ['Plan de Comunicación Integral', 
      'Desarrollo del producto y fijación del precio']

  .row
    = render 'servicio', 
    icon: 'certificate', 
    class_icon: '',
    heading: 'Consultoría de Propiedad Intelectual e Industrial',
    da_list: ['Búsqueda', 
        'Procedimiento de patentes',
        'Estrategia de patente internacional',
        'Análisis técnico de productos']
    
    = render 'servicio', 
    icon: 'money',
    class_icon: 'green-dollar', 
    heading: 'Estudios de mercado',
    da_list: ['Identificación target group '] 
    





  

