- title("Servicios")

.container
  .row
    .col-lg-12
      .page-header
        h1 Nuestros Servicios
  
  .row
    = render 'servicio', 
    icon: 'rocket', 
    class_icon: 'fl-orange',
    heading: 'Consultoría Startup',
    da_list: ['Cuando patentar y cuando no',
      'Trámites para la constitución de una empresa', 
      'Plan de negocio', 
      'Hoja de ruta', 
      'Pactos sociales', 
      'Programación web']

    = render 'servicio', 
    icon: 'bullhorn', 
    class_icon: 'fl-blue',
    heading: 'Consultoría de Marketing',
    da_list: ['Estudio de mercado',
      'Desarrollo del producto y fijación del precio',
      'Identificación del target group',
      'Plan de Comunicación Integral', 
      ]

    = render 'servicio', 
    icon: 'certificate', 
    class_icon: 'fl-orange',
    heading: 'Consultoría de Propiedad Intelectual e Industrial',
    da_list: ['Búsqueda de competencia', 
        'Búsqueda de patentes en conflicto',
        'Estrategia de patente internacional',
        'Análisis técnico de productos']
    

    





  

