<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mensaje enviado desde <%= @email %></h1>
    <p>
      Nombre:
      <%= @name %>.<br>
    </p>
    <p>
      Tlf:
      <%= @tlf %>
    </p>
    <p>
      Mensaje:
      <%= @subject %>
    </p>
  </body>
</html>