/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
 @import "framework_and_overrides";
 @import "bootstrap_readable_theme";
 @import "scroll_to_top";


.copyright {
  font-size: 12px;
  padding: 11px 0 7px;
  background: #3e4753;
  border-top: solid 1px #777; 
}

.copyright p {
  color: #dadada;
}

.copyright p.copyright-space {
  margin-top: 12px;
}

.copyright a {
  margin: 0 5px;
  color: #72c02c;
}
.copyright a:hover {
  color: #a8f85f;
}

//***********************************************************
// TESTING CLASSES
.shigh{
  background-color: yellow;
}
.shigh2{
  background-color: red;
}
.shigh3{
  background-color: blue;
}
//***********************************************************

//***********************************************************
// APPLICATION-WIDE
html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  padding-bottom: 120px;
}

img{
  @extend .img-responsive;
}
//***********************************************************

//***********************************************************
// FLASH MESSAGES
.alert{
  margin-top: -4px;
}
//***********************************************************

//***********************************************************
// NAVBAR
.navbar-brand {
  font-size: inherit;
  z-index: 1;
  top: -10px;
  position: relative;
  padding: 0 10px 10px;
}
//***********************************************************


//***********************************************************
// FOOTER
#footer{
  /* 
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  */  
  //height: 100px;
  //margin-top: -100px;  
  letter-spacing: 1px;
  
  .footer-first-row{
    padding-top: 20px;
  }
}
//***********************************************************
