$fl-blue: #33538F;
$fl-orange: #D98436;
$green-dollar: #8C9566;

.twitter-color {
	color: #55ACEE;
}

.linkedin-color {
	color: #1C87BD;
}

.green-dollar {
	color: $green-dollar;
}

.fl-orange {
	color: $fl-orange;
}

.fl-blue {
	color: $fl-blue;
}
